﻿@model IEnumerable<OpenCaption.Models.Work>
@{
    ViewBag.Title = "Export";
}
<div class="jumbotron minitron">
    <h2>Productions to Export From</h2>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Total Scripts
        </th>
        <th colspan="2">Options</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.Scripts.Count()
            </td>
            <td>
                <a href='@string.Format("/Script/{0}/ExportScript", item.Id)'>Select</a>
            </td>
        </tr>
    }
</table>



