﻿@{
    ViewBag.Title = "Admin";
}

<div class="jumbotron minitron">
    <h2>Admin</h2>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>@Html.ActionLink("Add Work", "Create", "Works")</h2>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Add Venue", "Create", "Venues")</h2>
    </div>
    <div class="col-md-3">
        <h2>Delete a Script</h2>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Export", "Export", "Admin")</h2>
    </div>
</div>
