﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Admin", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse hidden">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                </ul>
                
            </div>
        </div>
    </div>
    <div id="alertBox"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/opencaption")
    @RenderSection("scripts", required: false)

    @*Global SignalR messaging*@
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var simple = $.connection.scriptAlertHub;

        // Listens for message from server
        simple.client.success = function (message) {
            $("#alertBox").hide().text(message).css({ "background-color": "#2C5F2D" }).slideDown('slow');
        }

        simple.client.error = function (message) {
            $("#alertBox").hide().text(message).css({ "background-color": "red" }).slideDown('slow');
        }

        simple.client.started = function (message) {
            $("#alertBox").hide().text(message).css({ "background-color": "blue" }).slideDown('slow').delay(3000).slideUp('slow');
        }

        // Starts the AlertHuub service 
        $.connection.hub.start() 

    </script>

</body>
</html>
