﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OpenCaption</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>@Html.ActionLink("Upload", "Index", "Upload")</h2>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Edit", "Index", "Works")</h2>
    </div>
    <div class="col-md-3">
        <h2>Operate</h2>
    </div>
    <div class="col-md-3">
        <h2>Display</h2>
    </div>
</div>