﻿@model IEnumerable<OpenCaption.Models.Work>

@{
    ViewBag.Title = "Select Which Script to Edit";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterCount)
            </td>
            <td>
                <a href='@string.Format("/Works/{0}/EditText", item.Id)'>Edit</a>
            </td>
        </tr>
    }

</table>