﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #000000;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: #777777;
    background-color: #000000;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row{
    text-align: center;
}

#alertBox{
    width: 100%;
    background-color: #2C5F2D;
    color: white;
    padding-left: 10px;
}

.dropdown-wrapper{
    min-width: 300px;
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.dropdown-inline{
    margin-top: 10px;
}

.dropdown-inline select{
    background-color: aliceblue;
    width: 200px;
    float: right;
}

.dropdown-inline input[type="text"]{
    background-color: aliceblue;
    width: 200px;
    float: right;
}

.errorTxt{
  color: red;
  min-height: 20px;
}

#warn-work{
    color: orangered;
    padding-left: 30%;
}

label{
    height: 34px;
    padding-top: 7px;
}
.jumbotron{
        background-color: #171717;
}
.minitron{
    padding-top: 10px;
    padding-bottom: 10px;
}