﻿@using OpenCaption.Models

@{
    ViewBag.Title = "Upload";
}

<div class="jumbotron minitron">
    <h2>Upload a Script</h2>
</div>
<div>
    
    @using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data", id="uploadForm" }))
    {
        
        <div class="dropdown-wrapper">
            <input type='file' class="btn" name="scriptFile" id='scriptFile' />
            <div class="errorTxt"></div>
            <div class="dropdown-inline">
                @Html.Label("Venue")
                @Html.DropDownList("Venue", (IEnumerable<SelectListItem>)ViewData["Venue"], null, new { @class = "form-control" })
            </div>
            <div class="dropdown-inline">
                @Html.Label("Work")
                <select class="form-control valid" id="Work" name="Work" aria-invalid="false">
                @foreach(var work in ViewData["Work"] as IEnumerable<OpenCaption.Models.Work>)
                {
                    <option value="@work.Id">@work.Name</option>
                }
                </select>
            </div>
            <div class="dropdown-inline">
                @Html.Label("Character Count")
                @Html.DropDownList("CharacterCount", (IEnumerable<SelectListItem>)ViewData["CharacterCount"], "Unlimited" , new { @class = "form-control"})
            </div>
            <div class="dropdown-inline">
                @Html.Label("Language/Version")
                @Html.TextBox("Language", null, new { @class = "form-control" }) 
            </div>
            <div class="dropdown-inline">
                <div id="warn-work"></div>
                <input type="submit" class="btn" value="Upload" />
            </div>
        </div>
    }

</div>
<script>
 
    window.onload = function () {

        // Show the message that the upload has started
        if (@(ViewData["Upload"]) == true) {
            simple.client.started("Your Upload Has Started");
        }

        // Auto-focus on next element, which also runs validate on file input
        $("input:file").change(function (){
            $('#Venue').focus();
        });
    }
</script>