﻿@model IEnumerable<OpenCaption.Models.Work>

@{
    ViewBag.Title = "Productions";
}

<div class="jumbotron minitron">
    <h2>Productions</h2>
</div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
               Script Count
            </th>
            <th colspan="2">View</th>
            
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Scripts.Count()
                </td>
                <td>
                    <a href='@string.Format("/Works/{0}/ViewScripts", item.Id)'>View Scripts</a>
                </td>
            </tr>
        }
    </table>
