﻿@model IEnumerable<OpenCaption.Models.Script>

@{
    ViewBag.Title = "ViewScripts";
}

<h2>Scripts Loaded for @ViewData["name"]</h2>

<p>
    @Html.ActionLink("Upload New Script", "Index", "Upload")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterCount)
        </th>
        <th>
            Total Lines
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Path.GetFileName(item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterCount)
        </td>
        <td>
            @item.Texts.Count
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            <a href='@string.Format("/Script/{0}/EditText", item.Id)'>View Lines</a>
        </td>
    </tr>
}

</table>
