﻿@model OpenCaption.Models.Script
@{
    ViewBag.Title = "Edit";
}

<div class="jumbotron minitron">
    <h2>Set Character Count for: @Model.Work.Name @Model.Language</h2>
</div>
<div class="dropdown-wrapper">
    @using (Html.BeginForm("AdjustCount", "Script", FormMethod.Post, new { enctype = "multipart/form-data", id = "adjustCharacterCount" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.HiddenFor(model => model.Id)
            <div class="dropdown-inline">
                @Html.Label("Currently Set: ") 
                @Html.TextBoxFor(model => Model.CharacterCount, new { @readonly = "readonly", @class = "form-control"})
            </div>
            <div class="dropdown-inline">
                @Html.Label("NEW Character Count")
                @Html.DropDownList("NewCount", (IEnumerable<SelectListItem>)ViewData["NewCount"], "Unlimited", new { @class = "form-control" })
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Start Process" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
