﻿@model OpenCaption.Models.Script

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Script</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Original)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Original)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
