﻿@model PagedList.IPagedList<OpenCaption.Models.Text>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Edit Lines";
}
<div class="jumbotron minitron">
    <h2>Edit Lines: @Html.DisplayFor(model => model.First().Script.Work.Name) @Html.DisplayFor(model => model.First().Script.Language)</h2>
</div>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("EditText", new { page }))

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Sequence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Element.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ContentText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().OperatorNote)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sequence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Element.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperatorNote)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { WorkId = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("EditText", new { page }))
