﻿@model IEnumerable<OpenCaption.Models.Script>
@{
    ViewBag.Title = "Productions";
}
<div class="jumbotron minitron">
    <h2>@ViewData["name"] Export and Options</h2>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterCount)
        </th>
        <th>
            Total Lines
        </th>
        <th colspan="2">EDIT</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterCount)
            </td>
            <td>
                @item.Texts.Count
            </td>
            <td>
                <ul style="list-style: none; padding-left: initial;">
                    <li>
                        <a id="download-original" data-id="@item.Id" href="#">Download Original Script</a> 
                    </li>
                    <li>
                        <a id="generate-text" data-id="@item.Id" href="/Script/@(item.WorkId)/ExportScript/@(item.Id)" >Generate Text for Editing and Re-loading</a>
                    </li>
                    <li>
                        <a href="/Script/@(item.WorkId)/AdjustCharacterCount/@(item.Id)">Consolidate and Adjust Character Count</a>
                    </li>
                </ul>
            </td>
        </tr>
    }
</table>
<script>

    window.onload = function () {

        // Show the message that the upload has started
        if (@(ViewData["Upload"]) == true) {
            simple.client.started("Your Export Has Started");
        }

        // Download Original Function
        $('#download-original').on('click', function(){
            alert("download-original: " + $(this).data("id"));
        });
    }
</script>
